@import url('https://fonts.googleapis.com/css?family=Aldrich|Barlow+Condensed&display=swap');

:root {
     font-family:'Barlow Condensed', sans-serif;
     --main-color:white;
     --acent-color:black;
     scroll-behavior: smooth;
    }
body {
    max-width: 980px;
    margin: auto;
    background: black;
    color: white;
}
h1, h2, h3, h4, h5, h6, p, div, header, main, footer {
    margin: 0;
    padding: 0;
}
header .logo {
    display: flex;
    font-family:'Aldrich', sans-serif;
    font-weight: bold;
    color: red;
    font-size: 3rem;
    padding: 15px 0 5px 15px;
}
header nav .menu {
    display:flex;
    list-style-type:none;
    justify-content:space-around;
    padding: 0;
}
header nav .menu {
    font-size: 0.95rem;
    text-align: center;
    font-family: 'Aldrich', sans-serif;
}
header nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 5px;
}
header nav .menu a:hover {
    padding: 0.35em 0.8em;
    background:white;
    border-radius: 0.3em;
    transition: all 0.4s;
    color: black;
    cursor: pointer;
}
@media screen and (max-widt: 750px) {
    header .menu a {
        display: block;
    }
}
header .banner {
    background-image: url(../img/audi_picture.jpg);
    background-position: top, center;
    background-size: cover;
    display:flex;
    min-height: 475px;
    color:black;
}
header .banner {
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}
    header .main-text {
        grid-column: 3;
        grid-row: 1;
        text-align: right;
        color:red;
        margin-top:1rem;
        margin-right:1rem;
    }
main .text-about-site {
    display:grid;
    grid-template-columns: 1fr 2f;
}
    main .expl-start {
        grid-column: 2;
    }
main .expl-list {
    display:grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
}
    main ul {
        grid-column: 3/4;
    }

main .text-about-site-end {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}
    main .expl-end {
        grid-column: 5/5;
    }
.text-about-site, .expl-list, .text-about-site-end {
    background: white;
    color:black;
    font-size: 1.1rem;
    font-family: 'Aldrich', sans-serif;
    text-transform: uppercase;
    border: transparent;
    padding: 0;
    margin: 0;
}
.squars {
    list-style-type: square;
}
